* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 5px;
  padding: 20px 0;
}
h1 {
  text-align: center;
  margin-bottom: 5px;
}
input {
  width: 180px;
  padding: 3px;
  margin: 3px;
}
label {
  margin: 3px;
}
textarea {
  resize: none;
  padding: 3px;
}
#add-btn {
  border: none;
  padding: 8px 16px;
  font-weight: bold;
}
.window {
  position: absolute;
  top: 0;
  left: 310px;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid black;
  background-color: rgb(218, 213, 67);
  border-radius: 8px 8px 0 0;
}

.delete-btn {
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(255, 83, 83);
  color: white;
}
